@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Wlcome To Institue</h1>
    <p>Welcome To Institute Info Web</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Categories Page</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Courses Page</a>
    
</div>
